            <div class="row" style="padding:10px">
                <img src="img/speakers/kavin_ senapathy.png" style="vertical-align:middle">
                <h4 class="text-faded" style="color:#00517f;font-weight: bold">Kavin Senapathy</h4>
                <h5 class="text-faded" style="color:#00517f;font-weight: bold">Author<br>Co-Founder <br><a href="http://www.mamyths.org/" target="_blank">March against Myths</a></h5>
                <h5 class="text-faded" style="color:#4d4d4f">
               Kavin Senapathy is a communicator tackling myths on science, health, medicine, food, biotechnology, parenting, politics, and their intersection. She is the co-author of <i>The Fear Babe: Shattering Vani Hari’s Glass House</i>, a book discussing popular food and health misconceptions and why they proliferate. With a passion for refuting myths popular in the wild internet west, she is a regular contributor to Forbes and Grounded Parents, with work appearing in Slate, Gawker, and other outlets. Senapathy is a regular source for articles on food and pseudoscience and has been quoted or cited in outlets like The Atlantic, NPR, The Ringer, Philadelphia Inquirer, New York Magazine, Parenting Magazine, and more.
                </h5>
            </div>    