            <div class="row" style="padding:10px">
                <img src="img/speakers/tia_nelson.png" style="vertical-align:middle">

                <h4 class="text-faded" style="color:#00517f;font-weight: bold">Tia Nelson</h4>
                <h5 class="text-faded" style="color:#00517f;font-weight: bold">Managing Director, Climate<br><a href="http://outriderfoundation.org/" target="_blank">Outrider Foundation</a></h5>
                <h5 class="text-faded" style="color:#4d4d4f">
                Tia is internationally recognized for her work on climate change. She served 17 years with The Nature Conservancy, including serving as the first director of its global Climate Change Initiative. For her work, she received the Environmental Protection Agency’s Climate Protection Award in 2000. She then served 11 years as executive secretary of the Board of Commissioners of Public Lands, Wisconsin’s oldest state agency, which included a gubernatorial appointment in 2007 as co‐chair of Wisconsin’s Task Force on Global Warming. 
                </h5>
            </div>

