 <div class="container">
         
            <div class="row" style="padding:10px">
                <img src="img/speakers/laura_kiessling.png" style="vertical-align:middle">
                <h4 class="text-faded" style="color:#00517f;font-weight: bold">Laura L. Kiessling</h4>
                <h5 class="text-faded" style="color:#00517f;font-weight: bold">Steenbock Professor of Chemistry and Biochemistry<br>
University of Wisconsin-Madison<br>

</h5>
                <h5 class="text-faded" style="color:#4d4d4f">
               Prof. Kiessling is a scientist whose research spans chemistry and biology. Her investigations of the cell’s carbohydrate coat are identifying new strategies to treat infectious disease, control immune responses, and elucidate and control the microbiome. She received her B.S. in Chemistry from MIT and her Ph.D. in Chemistry from Yale University. After postdoctoral training at the California Institute of Technology, she began her independent career in 1991 at the University of Wisconsin-Madison. She serves as the Director of the Keck Center for Chemical Genomics and the Chemistry-Biology Interface Training Program. She is a recipient of a MacArthur Foundation Fellowship (genius award), a Guggenheim Fellowship, and she Fellow of the American Academy of Arts and Sciences and a Member of the National Academy of Sciences (NAS).    
                </h5>
            </div>      

</div>