<section id="about">
    <div class="container">
        <div class="row" style="padding:5px">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color:#f16047">Why We March</h2>
            </div>
        </div>
        <div class="row" style="padding:5px">
            <h3 style="color:#00517f" class="text-center">SCIENCE, NOT SILENCE</h3>

            <h4 class="text-faded" style="color:#4d4d4f">
            The March for Science is a celebration of our passion for science and a call to support and safeguard the scientific community. Recent policy changes have caused heightened worry among scientists, and the incredible and immediate outpouring of support has made clear that these concerns are also shared by hundreds of thousands of people around the world. The mischaracterization of science as a partisan issue, which has given policymakers permission to reject overwhelming evidence, is a critical and urgent matter. It is time for people who support scientific research and evidence-based policies to take a public stand and be counted.
            </h4>
        </div>
        <div class="row" style="padding:5px">
            <h3 style="color:#00517f" class="text-center">ON APRIL 22, 2017, WE WALK OUT OF THE LAB AND INTO THE STREETS.</h3>

            <h4 class="text-faded" style="color:#4d4d4f">
            We are scientists, science enthusiasts, and concerned citizens . We come from all races, all religions, all political perspectives, all professions, all gender identities, all sexual orientations, all abilities, all socioeconomic backgrounds, and all nationalities. Our diversity is our greatest strength: a wealth of opinions, perspectives, and ideas is critical for the scientific process. What unites us is a love of science, and an insatiable curiosity. We all recognize that science is everywhere and affects everyone.
            </h4>
        </div>
        <div class="row" style="padding:5px">
            <h4 class="text-faded" style="color:#4d4d4f">
            Science is often an arduous process, but it is also thrilling. A universal human curiosity and dogged persistence is the greatest hope for the future. This movement cannot and will not end with a march. Our plans for policy change and community outreach will start with marches worldwide and a teach-in at the National Mall, but it is imperative that we continue to celebrate and defend science at all levels - from local schools to federal agencies - throughout the world.
            </h4>
<!--                 <a href="#involve" class="btn btn-default btn-xl" style="color:#f16047">Join Us!</a> -->
        </div>
      <div class="container text-center">
          <div class="call-to-action">
          <a href="#involve" class="btn btn-primary btn-xl page-scroll">Join Us!</a>
          </div>
      </div>
    </div>
</section>
