<section id="contact">
     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color:#f16047">Contact Us</h2>
                <!--<span style="background-color: #f16047;height:3px;width:calc(50% -
    160px);margin:auto;display:block;margin-bottom:16px"></span>-->
            </div>
        <div class="col-lg-12 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s" style="color:#32bebd"></i></a>
            <span style="height:3px;width:calc(10% -64px);margin-right:16px;display:inline-block;margin-bottom:7px;"></span><a href="https://facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s" style="color:#32bebd"></i></a>
            <span style="height:3px;width:calc(10% -64px);margin-right:16px;display:inline-block;margin-bottom:7px;"></span><a href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="color:#32bebd"></i></a>
        </div>

    </div>
</section>
