<header>
    <div class="header-content">
        <div class="header-content-inner">
        <img src="img/color_atom.png" width="20%";margin-right:16px;display:inline-block;margin-bottom:7px;>
            <h1>March for Science</h1>
            <h3>
             <span style="background-color: white;height:3px;width:calc(50% -
160px);margin-right:16px;display:inline-block;margin-bottom:7px;"></span>EARTH DAY<span style="background-color: white;height:3px;width:calc(50% -
160px);margin-left:16px;display:inline-block;margin-bottom:7px;"></span>
            </h3>
            <h2>
                <span style="color:#f16047;font-size:3.2rem">April 22,
2017</span><br>Madison, Wisconsin
            </h2>
            <a href="donate.html" class="btn btn-primary btn-xl page-scroll" target="_blank">Support the March!</a>
        </div>
    </div>
</header>
