<div class="container">

    <section id="support">
        <div class="row" style="padding:5px">
            <h2 class="section-heading" style="color:#f16047; font-weight: bold; text-align: center">Supporting the March for Science</h2>
            
            <h4 style="color:#00517f;font-style: italic" class="text-center">
Scientific research requires funding, and so does the March for Science.
            </h4>

            <h5 class="text-faded" style="color:#4d4d4f">
Organizing the Madison March for Science is rewarding, but it isn't cheap. Expenses such as permit fees, event insurance, street closures, providing security, and rerouting transit during the event can add up. Event insurance alone costs 34 cents per attendee. We estimate the total cost of the march to exceed $10,000.
            </h5>
            <h5 class="text-faded" style="color:#4d4d4f">
The Madison March for Science obtained fiscal sponsorship through the <a target="_blank" href="http://www.community-stewardship.org/">Center for Community Stewardship</a>, a Madison-based 501(c)3 non-profit organization, for educational and outreach purposes. This sponsorship enables your donations and purchases to be tax deductible. There are two ways for individuals to help support the march.
            </h5>
        </div>
    </section>

    <section id="donate">
        <div class="row" style="padding:5px">
                <h3 style="color:#f16047; font-weight: bold" class="text-center">Direct Donations</h3>
                <div></div>

                <h5 class="text-faded" style="color:#4d4d4f">
                Fully tax-deductible donations may be made directly to the Madison March for Science via PayPal, These donations go directly towards expenses associated with the march.
                </h5>
                <!-- <a href="#fundraiser" class="btn btn-primary btn-xl page-scroll" target="_blank">Donate for Science!</a> -->
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="JAMPWWV3EBYSS">

                <div class="row" class="text-center">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="display:block; margin: auto">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </div>
</form>
                </div>
                 <h5 class="text-faded" style="color:#4d4d4f; text-align:center">
                Note: donations will appear as <B>Center for Community Stewardship</B> for March for Science Madison
                </h5>               
                <div></div>

        </div>
    </section>
    
    <section id="donate">
        <div class="row" style="padding:5px">
                <h3 style="color:#f16047; font-weight: bold" class="text-center">Merchandise</h3>
                <div></div>

                <h5 class="text-faded" style="color:#4d4d4f">
                <a target="_blank" href="https://www.bonfire.com/march-for-science-madison-vol3/">
                <img src="img/bonfire_shirt.jpg" style="display:block; margin: auto; width:20%; vertical-align:middle;padding: 20px;">
                </a>
                Official March for Science t-shirts may be purchased from Bonfire. The proceeds from sales of these shirts (minus the cost of the shirt and printing) go directly towards expenses associated with the march.
                </h5>
                             
                <div></div>

        </div>
    </section>
</div>
