<section id="march">
    <div class="container">
        <div class="row" style="padding:5px">
            <h3 style="color:#00517f" class="text-center">ON APRIL 22, 2017, WE WALK OUT OF THE LAB AND INTO THE STREETS.</h3>

            <h4 class="text-faded" style="color:#4d4d4f">
            The Madison March for Science will begin at 1pm at <a href="https://goo.gl/maps/A3SQewCWAhp" target="_blank">James Madison Park</a> and move towards <a href="https://goo.gl/maps/fSdM6HW3HkR2" target="_blank"> UW Library Mall</a>. Informational booths will be set up along Library Mall and State Street Mall around 2pm, and speakers will begin around 2:30pm, once all participants have completed the route.
            <img src="img/MfS%20Route_medium.png" style="display:block; margin: auto; width:35%; vertical-align:middle; padding: 20px">
            </h4>
        </div>
        <div class="row" style="padding:5px">
            <h4 class="text-faded" style="color:#4d4d4f">
            Speakers, booth presenters, and our accessibility plan are being finalized. Sign up for <a href="http://eepurl.com/cDNSKT" target="_blank">updates</a> by email, or <a href="mailto:{{ site.email }}?subject=Booth Presentation">contact us</a> if you or your organization are interested in a booth presentation.
            </h4>
        </div>
      <div class="container text-center">
          <div class="call-to-action"> Let us know you're coming to the March on <a href="https://www.facebook.com/events/1763770130603220/" target="_blank">Facebook</a> or <a href="http://marchforsciencemadison.eventbrite.com" target="_blank">EventBrite</a>
          </div>
      </div>
    </div>
</section>
