<section id="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color:#f16047">Mission and Principles</h2>
                <span style="background-color: #f16047;height:3px;width:calc(50% -
    160px);margin:auto;display:block;margin-bottom:16px"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="mission.html#mission"><h3 style="color:#00517f">Mission Statement</h3></a>
                    <h5 class="text-muted">Why we march</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="mission.html#principles"><h3 style="color:#00517f">Principles</h3></a>
                    <h5 class="text-muted">What we believe</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="mission.html#goals"><h3 style="color:#00517f">Goals</h3></a>
                    <h5 class="text-muted">What we hope to achieve</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="mission.html#partners"><h3 style="color:#00517f">Partners</h3></a>
                    <h5 class="text-muted">Those who stand with us</h5>
                </div>
            </div>
        </div>
    </div>
</section>
