<div class="container">

        <div class="row" style="padding:5px">
            <h2 class="section-heading" style="color:#f16047; font-weight: bold; text-align: center">Spreading the Word about the March for Science</h2>
            
            <h4 style="color:#00517f;font-style: italic" class="text-center">
Help us spread the word about the Madison March for Science on April 22, 2017
            </h4>

            <h5 class="text-faded" style="color:#4d4d4f">
We've put together several tools to increase awareness of the mission and purpose of the March for Science, and to help spread the word in the community and beyond.
            </h5>

        </div>

        <div class="row" style="padding:5px">
                <h3 style="color:#f16047; font-weight: bold" class="text-center" id="donate">Mission Statement</h3>
                <div></div>

                <h5 class="text-faded" style="color:#4d4d4f">
                The Mission Statement, Principles, and Goals of the national March for Science are <a href="/mediakit/mission/Mission,%20Principles,%20Goals.pdf" target=_blank">available for download</a>
                </h5>


        </div>

        <p></p>
                
        <div class="row" style="padding:5px">
                <h3 style="color:#f16047; font-weight: bold" class="text-center">Posters</h3>
                <div></div>

                <h5 class="text-faded" style="color:#4d4d4f">
                Posters are available to download and print in <a href="/mediakit/posters/March%20for%20Science%20Poster%201.jpg" target="_blank">JPEG</a> or <a href="/mediakit/posters/March%20for%20Science%20Poster%201.pdf" target="_blank">PDF</a> format. Spread the word by posting at your workplace, coffeeshop, or public location (with appropriate permission).
                </h5>


        </div>
</div>
